.mat-grid-tile {

    border: 1px solid #c1bbbb;
}
.mat-form-field-wrapper {
  border: 1px solid #ecebeb;
  background: #e8e8e6;
}

.card {
  margin-bottom: 15px;
  min-height: 100px;
}
.pagination {
  float: right !important;
}
h1{
  text-align: center;
    margin: 35px 0px;
    color: #007bff;
}