<div class="container">
  
    <div class="col-md-12">
        <h1>Available currencies</h1>
    </div>  
    <app-search (onChangeSearch)="setSearch($event)" (onChangeFilter)="setFilter($event)" [searchInput]="searchInput" [filter]="filter"></app-search>
 
  <hr>
  <div class="row">
      <div class="col-md-3 col-xs-6" *ngFor="let currency of currencies; let i = index">
         <a [routerLink]="'/currency/'+currency.id"> 
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{ currency.id }}</h5>
                  <p class="card-text">{{ currencies[i].attributes.symbol  }}</p>                 
              </div>            
          </div>
        </a>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6 text-left">
        <select (change)="onChangeSize()" [(ngModel)]="pageSize" class="form-control">
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <div class="col-md-6 text-right">
          <ngb-pagination [(collectionSize)]="total" [(page)]="currentPage" [(pageSize)]="pageSize" [maxSize]="5" [boundaryLinks]="true" [rotate]="true" [ellipses]="false" (pageChange)="search()"></ngb-pagination>
      </div>
  </div>
  
</div>

