<div class="container">
  <div class="row">
    <div class="card" *ngIf="currency">
        <h5 class="card-header">{{currency.id}}</h5>
        <div class="card-body">
          <p class="card-text"><b>Code :</b> {{currency.attributes.code}}</p>
          <p class="card-text"><b>Name :</b> {{currency.attributes.name}}</p>
          <p class="card-text"><b>Currency type : </b> {{currency.attributes.currency_type}}</p>
          <p class="card-text"><b>Code ISO Numeric3 :</b> {{currency.attributes.code_iso_numeric3}}</p>
          <p class="card-text"><b>Code ISO  Alpha :</b> {{currency.attributes.code_iso_alpha3}}</p>
          <a routerLink="/currency-list" class="btn btn-primary">Retour</a>
        </div>
      </div>
  </div>
</div>


